[submodule ".ohmyzsh"]
	path = config/.ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "config/.zshplugins/themes/powerlevel10k"]
	path = config/.zshplugins/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "config/.zshplugins/plugins/zsh-syntax-highlighting"]
	path = config/.zshplugins/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "config/.zshplugins/plugins/zsh-autocomplete"]
	path = config/.zshplugins/plugins/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
