[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Gavin Yan
	email = gavinyan10@gmail.com
[init]
	defaultbranch = main
[color]
	ui = auto
[alias]
	s = status
	cm = commit -m
  ca = commit --amend
  can = commit --amend --no-edit
	si = switch
	sic = switch -c
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  l = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit"
