[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[user]
	name = Gavin Yan
	email = 120120964+yangavin@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[alias]
	s = status
	cam = commit -am
	cm = commit -m
	si = switch
	sic = switch -c
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    l = "log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit"
